@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Rhodium Libre", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url('https://images.pexels.com/photos/977603/pexels-photo-977603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  text-align: center;
}

.tooltip {
  background: #2bac36;
  background: linear-gradient(to right, #d2371b, #ea640b);
  color: #fff;
  font-size: 1.25rem;
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  margin: 15px;
}

/* message */

.tooltip::after {
  background-color: #313247;
  border-radius: 10px;
  color: #fff;
  display: none;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: lighter;
  position: absolute;
  z-index: 1;
}

.tooltip.top::after {
  content: "Arriba";
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 10px));
}

.tooltip.bottom::after {
  content: "Abajo";
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
}

.tooltip.right::after {
  content: "Derecha";
  top: 0;
  right: 0;
  transform: translateX(calc(100% + 10px));
}

.tooltip.left::after {
  content: "Izquierda";
  top: 0;
  left: 0;
  transform: translateX(calc(-100% - 10px));
}

.tooltip:hover::after {
  display: block;
}

/* arrow */

.tooltip::before {
  content: "";
  background-color: #313247;
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 1;
}

.tooltip:hover::before {
  display: block;
}

.tooltip.top::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip.bottom::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 5px)) rotate(45deg);
}

.tooltip.right::before {
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 5px), -50%) rotate(45deg);
}

.tooltip.left::before {
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 5px), -50%) rotate(45deg);
}