@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap");

body {
  font-family: "Cuprum";
  margin: 20px;
  background: var(--secondary);
}
p,
h1,
h2,
h3,
section {
  margin: 0 0 10px 0;
  padding: 0;
}